.headerParentDiv {
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    z-index: 999;
  }
  
  .headerChildDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
